{% extends "base.html" %} 
{% load static%}
{% block title %}Your Welcome{% endblock title %}
{%block content %}
<div class="">
    <h2>Headliner</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vulputate eros mauris, eu molestie metus tempor sit amet. Aenean at libero lorem. Mauris mollis eros massa, ut aliquam lacus convallis at.
         Aliquam erat volutpat. Maecenas volutpat mauris et scelerisque vestibulum. Fusce sagittis lorem eget massa euismod, ut venenatis velit fermentum. 
    </p>
    <div class="mt-4 flex w-full gap-4 pb-5 snap-x overflow-x-auto">
        <div class="min-w-[80%] md:min-w-[40%]">
            <div class="h-80 w-full snap-center rounded-xl bg-cover bg-center shadow-md shadow-black/20" style="background-image: url('{%  static "src/assets/images/band1.jpg" %} ');"></div>
            <h4 class="mt-2">Harry redknap</h4>
            <h5>1st july 9pm-main Stage</h5>
        </div>
        <div class="min-w-[80%] md:min-w-[40%]">
            <div class="h-80 w-full snap-center rounded-xl bg-cover bg-center shadow-md shadow-black/20" style="background-image: url('{%  static "src/assets/images/band2.jpg" %} ');"></div>
            <h4 class="mt-2">Harry redknap</h4>
            <h5>1st july 9pm-main Stage</h5>
        </div>
        <div class="min-w-[80%] md:min-w-[40%]">
            <div class="h-80 w-full snap-center rounded-xl bg-cover bg-center shadow-md shadow-black/20" style="background-image: url('{%  static "src/assets/images/band3.jpg" %} ');"></div>
            <h4 class="mt-2">Harry redknap</h4>
            <h5>1st july 9pm-main Stage</h5>
        </div>
        <div class="min-w-[80%] md:min-w-[40%]">
            <div class="h-80 w-full snap-center rounded-xl bg-cover bg-center shadow-md shadow-black/20" style="background-image: url('{%  static "src/assets/images/band4.jpg" %} ');"></div>
            <h4 class="mt-2">Harry redknap</h4>
            <h5>1st july 9pm-main Stage</h5>
        </div>
        <div class="min-w-[80%] md:min-w-[40%]">
            <div class="h-80 w-full snap-center rounded-xl bg-cover bg-center shadow-md shadow-black/20" style="background-image: url('{%  static "src/assets/images/band5.jpg" %} ');"></div>
            <h4 class="mt-2">Harry redknap</h4>
            <h5>1st july 9pm-main Stage</h5>
        </div>
        <div class="min-w-[80%] md:min-w-[40%]">
            <div class="h-80 w-full snap-center rounded-xl bg-cover bg-center shadow-md shadow-black/20" style="background-image: url('{%  static "src/assets/images/band6.jpg" %} ');"></div>
            <h4 class="mt-2">Harry redknap</h4>
            <h5>1st july 9pm-main Stage</h5>
        </div>
        <div class="min-w-[80%] md:min-w-[40%]">
            <div class="h-80 w-full snap-center rounded-xl bg-cover bg-center shadow-md shadow-black/20" style="background-image: url('{%  static "src/assets/images/band7.jpg" %} ');"></div>
            <h4 class="mt-2">Harry redknap</h4>
            <h5>1st july 9pm-main Stage</h5>
        </div>
        
    </div>
</div>
{% endblock %}
