{%extends 'base.html'%}
{% block content%}


<div class="bg-white">
    <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
      <h2 class="sr-only">Products</h2>
      <h2 class="p-4 text-center">Products</h2>
  
      <div class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8">

        {%for pot in pots %}
        <a href="{% url "pots:pot" name=pot.name  %}" class="group">
          <img src="{{pot.photo.url}}" alt="" class="aspect-square w-full rounded-lg bg-gray-200 object-cover group-hover:opacity-75 xl:aspect-7/8" />
          <h3 class="mt-4 text-sm text-gray-700">GFRC{{pot.name}}</h3>
          <p class="mt-1 text-lg font-medium text-gray-900">{{pot.price}}</p>
        </a>
        {%endfor%}
      </div>
    </div>
  </div>
{%endblock content%}