@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import "tailwindcss";


@theme {
    --font-quicksand: "Quicksand", sans-serif;
    --animate-wavey: wavey 1000ms linear infinite;

    @keyframes wavey {

        0%,
        100% {
            transform: scale(0.5);
        }

        50% {
            transform: scale(1.5);
        }
    }

}

@layer base {
    body {
        font-family: var(--font-quicksand);
    }

    h1 {
        @apply text-6xl font-bold;
    }

    h2 {
        @apply text-5xl font-bold;
    }

    h3 {
        @apply text-4xl font-bold;
    }

    h4 {
        @apply text-3xl font-bold;
    }

    h5 {
        @apply text-2xl font-bold;
    }

    input {
        border: 1px solid gray;
    }

    .login button {
        background: var(--color-sky-600);


    }


}

@layer components {
    .menu-item {
        @apply relative flex h-full items-center p-4 cursor-pointer font-bold text-pink-200 hover:text-zinc-200 hover:bg-white/10 transition-colors ease-in-out
    }

}

@custom-variant group-open {
    &:is(:where(.group):is(.open, [open], :popover-open, :open) *) {
        @slot
    }
}

@custom-variant peer-open {
    &:is(:where(.peer):is(.open, [open], :popover-open, :open) ~*) {
        @slot
    }
}

.signup input, select, textarea {

    border: 1px solid black;
}